@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap');
:root{
    --cor-primaria: #336969;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    font: normal 18px "Yanone Kaffeesatz";
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
ul{
    list-style-type: none;
}
header{
    display: flex;
    justify-content: flex-end;
}
.menu{
    display: flex;
    padding: 30px 60px;
}
.menu li:nth-child(2){
    margin: 0 10px;
}
.menu li a{
    color: black;
    text-decoration: underline var(--cor-primaria) 2px;
    font-size: 20px;
    transition: color .5s, text-decoration .5s;
}
.menu li a:hover{
    color: var(--cor-primaria);
    text-decoration: underline black 2px;
}
a{
    text-decoration: none;
    color: var(--cor-primaria);
}
.cont{
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    width: 80%;
    max-width: 1088px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.178);
    border-radius: 10px;
    height: 620px;
}
.main{
    position: absolute;
    top: 0;
    right: 0;
    max-height: 100%;
    overflow: auto;
    background-color: white;
}
.container-conteudo{
    display: flex;
    position: relative;
    max-width: 100%;
    max-height: 500px;
    background-color: white;
}
.principal{
    margin-top: 40px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    max-height: 100%;
    width: 100%;
}
.principal img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 100%;
}
.principal h1{
    font-size: 36px;
}
.lista{
    width: 100%;
    height:100%;
    flex-direction: column;
    padding: 0 60px;
    z-index: -1;
}
.lista h1{
    margin-bottom: 30px;
}
.lista img{
    margin: 10px;
    margin-left: 0px;
}
img.habilidade{
    width: 40px;
}
.habilidades{
    z-index: -1;
}
.container-lista{
    display: flex;
    align-items: center;
}
.projetos{
    display: flex;
}
img.projeto{
    width:200px;
    height:200px;
    margin-right: 40px;
    border-radius: 100%;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
footer a{
    font-size: 40px;
    transition: color .5s;
    cursor: pointer;
    color: black;
}
footer a:nth-child(2){
    margin: 0 20px;
}
footer a:hover{
    color: var(--cor-primaria);
}
@keyframes transicao{
    to{
        clip-path: circle(100% at 50% 50%);
    }
    from{
        clip-path: circle(0% at 50% 50%);
    }
}
@media only screen and (max-width:666px){
    h1, .principal h1{
        font-size: 30px;
    }
    .principal h1{
        margin-bottom: 30px;
    }
    .principal{
        flex-direction: column;
        align-items: center;
    }
    br{
        display: none;
    }
    img.projeto{
        width: 100px;
        height: 100px;
    }
}
@media only screen and (max-width:476px){
    h1, .principal h1{
        font-size: 26px;
    }
    .principal h1{
        margin-bottom: 30px;
    }
    .principal{
        margin-top: 0px;
    }
    p{
        font-size: 15px;
    }
    img.projeto{
        margin-right: 20px;
    }
    .menu{
        padding: 0px;
    }
    header{
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 426px){
    .main{
        padding: 0px 20px;
    }
}
@media only screen and (max-width: 388px){
    .cont{
        width: 100%;
    }
}